<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/mandala.css" />

    <script src="https://unpkg.com/ml5@1/dist/ml5.min.js"></script>

   <script src="/js/p5.min.js"></script>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
    <meta
      http-equiv="Content-Security-Policy"
      content="
  default-src 'self'; 
  img-src 'self' data:;
  script-src 'self' http://XX.XX.XX.XX:8084/mypp/;
  style-src 'self';
  connect-src 'self' http://XX.XX.XX.XX:8084/mypp/;"
    />

    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+IS:wght@100..400&family=Satisfy&family=Sofia&display=swap"
      rel="stylesheet"
    /> -->
  </head>

  <body>
    <div id="visualiser"></div>
    <div id="container">
      <canvas id="canvas"></canvas>
    </div>

    <script src="/js/mandala.js"></script>

  </body>
</html>
