<script src="https://kit.fontawesome.com/4737a162b6.js" crossorigin="anonymous"></script>
<div class="navbar">
  <a href="/" style="text-decoration: none; color: white">Home</a>
  <a href="/candle" style="text-decoration: none; color: white">Candle</a>
  <a href="/box" style="text-decoration: none; color: white">Box Breathing</a>
  <a href="/affirmations" style="text-decoration: none; color: white"
    >Affirmations</a
  >
  <a href="/mandala" style="text-decoration: none; color: white">Mandala</a>
  <a href="/kaledioscope" style="text-decoration: none; color: white">Hands</a>
  <button id="music-toggle" class="music-btn">
    <i id="music-icon" class="fas fa-play"></i> Music
  </button>
</div>
