
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Ms+Madi&display=swap');

:root {
  --text: rgb(239, 229, 234);
  --background: rgb(11, 5, 8);
  --primary: rgb(216, 158, 179);
  --secondary: rgb(72, 101, 63);
  --accent: rgb(114, 166, 144);
}
/* 0xd89eb3 */
body {
  margin: 0; /* Remove margins to make canvas fill the page */
  overflow: hidden; /* Prevent scrollbars */
}
canvas {
  display: block; /* Ensure no extra space for canvas */
  position: fixed; /* Keep canvas fixed as the background */
  top: 0;
  left: 0;
  z-index: -1; /* Send canvas to the background */
}

h1{
  text-align: center;
  color: var(--text);
  font-family: 'Ms Madi', cursive;
  font-size: 7rem;
  animation-duration: 1s;
  margin: 0;
}

.sub-heading{
  text-align: center;
  color: var(--text);
  font-family: "Gowun Dodum", sans-serif;
  font-size: 3rem;
}

/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 10px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 50vh;
  width: 100%;

}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.options{
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 20px;
  gap: 1.1rem;
  width: 90vw;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info{
  display: flex;
  height: 70%;
  width: 95%;
  background-color: white;
}